<h1>login</h1>
<% @top.each do |top| %>
<p>
  <%= form_tag '/top/login',method: :post do %>
   <%= labal_tag :uid,'ユーザーID' %>
   <%= text_field_tag :uid %>
   <%= label_tag :pass,'パスワード' %>
   <%= password_field_tag :pass %>
   <%= submit_tag '登録' %>
</p>
<% end %>